{
  "DbServer": "localhost",
  "DbPort": 3306,
  "DbReadUsername": "root",
  "DbReadPassword": "",
  "DbManagementUsername": "root",
  "DbManagementPassword": "",
  "ServicePort": 5200,
  "LogExpiryDays": 30,
  "LogDebugMessages": false,
  "PluginsFolder": "plugins",
  "Plugins": {
    "CUSTDCSPRICING000001": {
      "Id": "CUSTDCSPRICING000001",
      "Enabled": true,
      "ConfigurationData": "e30="
    },
    "4J3I-ZIYP-FE5T-Z1TE": {
      "Id": "4J3I-ZIYP-FE5T-Z1TE",
      "Enabled": true,
      "ConfigurationData": "eyJGZWVQZXJjZW50YWdlIjoxNS4wLCJGZWVPblRvdGFsIjp0cnVlLCJGZWVUeXBlIjoxfQ=="
    }
  }
}
