{
  "DbServer": "localhost",
  "DbPort": 3306,
  "DbUsername": "root",
  "DbPasswordJson": "",
  "ServicePort": 5200,
  "LogExpiryDays": 30,
  "LogDebugMessages": false,
  "PluginsFolder": "plugins",
  "Plugins": {
    "CUSTDCSPRICING000001": {
      "Id": "CUSTDCSPRICING000001",
      "Enabled": true,
      "ConfigurationData": "e30="
    },
    "SOCANCELFEE00PLUGIN1": {
      "Id": "SOCANCELFEE00PLUGIN1",
      "Enabled": true,
      "ConfigurationData": "eyJGZWVQZXJjZW50YWdlIjoxNS4wLCJGZWVPblRvdGFsIjp0cnVlLCJGZWVUeXBlIjoxfQ=="
    }
  }
}
